= form_for @assessment do |f|
  - if @assessment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@assessment.errors.count, "error")} prohibited this assessment from being saved:"
      %ul
        - @assessment.errors.full_messages.each do |message|
          %li= message

  .container-fluid.pt-4
    .form-group.row
      = f.label :name, "Assessment Name: ", class: 'col-2'
      .col-10
        = f.text_field :name, class: 'form-control'
    .form-group.row
      = f.label :desc, "Description: ", class: 'col-2'
      .col-10
        = f.text_area :desc, class: 'form-control', rows: 8
    .form-group.row
      #questions.col-12
        = f.fields_for :questions do |question|
          .col-12
            = render 'question_fields', f: question
        .links
          = link_to_add_association 'Add Question', f, :questions, class: 'btn btn-primary', style: 'width: 100%;'

    = f.hidden_field :created_by_id, value: current_user.id
  .actions.mt-4.pt-4.float-right
    .row
      .col-7.pt-2
        = f.label :active, "Activate", class: ''
        = f.check_box :active, checked: true, class: ''
      .col-5
        = f.submit 'Save', class: 'btn btn-info'
