= form_for @assessment do |f|
  - if @assessment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@assessment.errors.count, "error")} prohibited this assessment from being saved:"
      %ul
        - @assessment.errors.full_messages.each do |message|
          %li= message

  .container-fluid.pt-4
    .form-group.row
      = f.label :name, "Assessment Name: ", class: 'col-lg-2'
      .col-lg-10
        = f.text_field :name, class: 'form-control'
    .form-group.row
      = f.label :desc, "Description: ", class: 'col-lg-2'
      .col-lg-10
        = f.text_area :desc, class: 'form-control', rows: 8
    .form-group 
      #questions
        %h5 Questions
        = f.fields_for :questions do |question|
          = render 'question_fields', f: question
        .links.mt-4
          = link_to_add_association "<i class='fa fa-plus'></i> Add Question".html_safe, f, :questions, class: 'btn btn-info'

    = f.hidden_field :created_by_id, value: current_user.id
  .actions.mt-4.pt-4.float-right
    .row
      .col-lg-7.pt-2
        = f.label :active, "Activate", class: ''
        = f.check_box :active, checked: true, class: ''
      .col-lg-5
        = f.submit 'Save', class: 'btn btn-info'
