- content_for(:page_title, "All Assessments")

%h1 My Assessments

%table.table.table-responsive
  %thead
    %tr
      %th{style: 'min-width: 300px;'} Name
      %th{style: 'min-width: 400px;'} Desc
      %th.text-center{style: 'min-width: 100px;'} Active
      %th.text-center{style: 'min-width: 100px;'} Status
      %th{style: 'min-width: 200px;'} Created by
  %tbody
    - @assessments.each do |assignment|
      %tr
        %td= assignment.assessment.name
        %td= assignment.assessment.desc&.truncate(20)
        %td.text-center= assignment.assessment.active ? "<i class='fa fa-dot-circle text-success'></i>".html_safe : "<i class='fa fa-dot-circle text-danger'></i>".html_safe
        %td.text-center= assignment.status
        %td= assignment.assessment.created_by&.email
%br

= link_to 'New Assessment', new_assessment_path
