.row
  .col-12
    %h5 Assessment Details:
  .field.form-group.col-4
    %strong Assessment Name:
    %p{style: 'padding-left: 25px'}= @assessment.name
  .field.form-group.col-4
    %strong Description:
    %p{style: 'padding-left: 25px'}= @assessment.desc
  .field.form-group.col-4
    %strong Author:
    %p{style: 'padding-left: 25px'}= @assessment.created_by&.email
%hr
.row
  .field.form-group.col-12
    %h5 Assessment Questions:
    - @assessment.questions.each do |q|
      .col-12
        %p{style: 'padding-left: 25px; margin-bottom: 0px;'}= "Question: #{q.question}"
        %small{style: 'padding-left:35px;margin-bottom: 20px'}= "Caption: #{q.caption}"


.float-right
  = link_to 'Edit', edit_assessment_path(@assessment), class: 'btn btn-primary'
  = link_to 'Back', assessments_path, class: 'btn btn-default bordered'
