.container
  .main-body
    .row.gutters-sm
      .col-md-4.mb-3
        .card
          .card-body
            .d-flex.flex-column.align-items-center.text-center
              %img.rounded-circle{:alt => "Admin", :src => "https://bootdey.com/img/Content/avatar/avatar7.png", :width => "150"}/
              .mt-3
                %h4= "#{@user.first_name} #{@user.last_name}"
                %p.text-secondary.mb-1= @user.occupation
                %p.text-muted.font-size-sm= @user.address
      .col-md-8
        .card.mb-3
          .card-body
            .row
              .col-sm-3
                %h6.mb-0 Full Name
              .col-sm-9.text-secondary
                = "#{@user.first_name} #{@user.last_name}"
            %hr/
            .row
              .col-sm-3
                %h6.mb-0 Email
              .col-sm-9.text-secondary
                = @user.email
            %hr/
            .row
              .col-sm-3
                %h6.mb-0 Phone
              .col-sm-9.text-secondary
                = @user.phone

            %hr/
            .row
              .col-sm-3
                %h6.mb-0 Address
              .col-sm-9.text-secondary
                = @user.address
            - if policy(@user).can_edit?
              %hr/
              .row
                .col-sm-12
                  = link_to 'Edit', edit_registration_path(@user), class: 'btn btn-info'
        .row.gutters-sm
          .col-sm-12.mb-3
            .card.h-100
              .card-body
                %h6.d-flex.align-items-center.mb-3
                  %i.material-icons.text-info.mr-2> assignment
                  Project Status
                %small Web Design
                .progress.mb-3{:style => "height: 5px"}
                  .progress-bar.bg-primary{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 80%"}
                %small Website Markup
                .progress.mb-3{:style => "height: 5px"}
                  .progress-bar.bg-primary{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "72", :role => "progressbar", :style => "width: 72%"}
                %small One Page
                .progress.mb-3{:style => "height: 5px"}
                  .progress-bar.bg-primary{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "89", :role => "progressbar", :style => "width: 89%"}
                %small Mobile Template
                .progress.mb-3{:style => "height: 5px"}
                  .progress-bar.bg-primary{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "55", :role => "progressbar", :style => "width: 55%"}
                %small Backend API
                .progress.mb-3{:style => "height: 5px"}
                  .progress-bar.bg-primary{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "66", :role => "progressbar", :style => "width: 66%"}
